@using Xn.Platform.Domain.TourUser;
@model TourUserModel
@{
    ViewBag.Title = "用户列表";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<body>
    <form class="layui-form column-content-detail">
        <!--用户名-->
        <div class="layui-form-item">
            <label class="layui-form-label">用户名：</label>
            <div class="layui-input-block">
                <input type="text" name="username" value="@Model.username" required lay-verify="required" placeholder="请输入用户名称" autocomplete="off" class="layui-input">
            </div>
        </div>
        <!--密码-->
        <div class="layui-form-item">
            <label class="layui-form-label">密码：</label>
            <div class="layui-input-block">
                <input type="password" name="password" value="@Model.password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
            </div>
        </div>
        <!--昵称-->
        <div class="layui-form-item">
            <label class="layui-form-label">昵称：</label>
            <div class="layui-input-block">
                <input type="text" name="nick_name" value="@Model.nick_name" required lay-verify="required" placeholder="请输入用户昵称" autocomplete="off" class="layui-input">
            </div>
        </div>
        <!--性别-->
        <div class="layui-form-item">
            <label class="layui-form-label">性别：</label>
            <div class="layui-input-block">
                <input type="radio" name="sex" value="M" title="男">
                <input type="radio" name="sex" value="F" title="女">
            </div>
        </div>
        <!--真实姓名-->
        <div class="layui-form-item">
            <label class="layui-form-label">真实姓名：</label>
            <div class="layui-input-block">
                <input type="text" value="@Model.real_name" name="real_name" required lay-verify="required" placeholder="请输入用户真实姓名" autocomplete="off" class="layui-input">
            </div>
        </div>
        <!--生日-->
        <div class="layui-form-item">
            <label class="layui-form-label">生日：</label>
            <div class="layui-input-block">
                <input type="text" value="@Model.birthday" name="birthday" required lay-verify="required" placeholder="格式：YYYY-MM-DD" autocomplete="off" class="layui-input">
            </div>
        </div>
        <!--手机号码-->
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">手机号码：</label>
            <div class="layui-input-block">
                <input type="text" value="@Model.mobile" name="mobile" required lay-verify="required" placeholder="请输入手机号码" autocomplete="off" class="layui-input">
            </div>
        </div>
        <!--微信名称-->
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">微信名称：</label>
            <div class="layui-input-block">
                <input type="text" value="@Model.wechat" name="wechat" placeholder="请输入微信名称" autocomplete="off" class="layui-input">
            </div>
        </div>
        <!--QQ号码-->
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">QQ：</label>
            <div class="layui-input-block">
                <input type="text" value="@Model.qq_number" name="qq_number" placeholder="请输入QQ号码" autocomplete="off" class="layui-input">
            </div>
        </div>
        <!--国籍-->
        <div class="layui-form-item">
            <label class="layui-form-label">国籍：</label>
            <div class="layui-input-block">
                <input type="text" value="@Model.nationality" name="nationality" placeholder="请输入国籍" autocomplete="off" class="layui-input">
            </div>
        </div>
        <!--护照号-->
        <div class="layui-form-item">
            <label class="layui-form-label">护照号：</label>
            <div class="layui-input-block">
                <input type="text" value="@Model.passport" name="passport" placeholder="请输入护照号" autocomplete="off" class="layui-input">
            </div>
        </div>

        <!--省-->
        <div class="layui-form-item">
            <label class="layui-form-label">省：</label>
            <div class="layui-input-block">
                <input type="text" value="@Model.prvinice" name="province" placeholder="请输入省" autocomplete="off" class="layui-input">
            </div>
        </div>
        <!--市-->
        <div class="layui-form-item">
            <label class="layui-form-label">市：</label>
            <div class="layui-input-block">
                <input type="text" name="city" value="@Model.city" placeholder="请输入市" autocomplete="off" class="layui-input">
            </div>
        </div>

        <!--地址-->
        <div class="layui-form-item">
            <label class="layui-form-label">详细地址：</label>
            <div class="layui-input-block">
                <input type="text" name="address" value="@Model.address" placeholder="请输入详细地址" autocomplete="off" class="layui-input">
            </div>
        </div>


        <div class="layui-form-item" style="padding-left: 10px;">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formAdd">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                <input type="hidden" name="Id" value="@Model.id" />
            </div>
        </div>
    </form>
    <script>
        layui.use(['form'], function () {
            var form = layui.form(),
                $ = layui.jquery;
            if ('@Model.sex' != "") {
               $("input[name=sex][value=@Model.sex]").attr("checked", true);
              form.render(); //更新全部
            }



            form.on('submit(formAdd)', function (data) {
                $.post("@Url.Action("AddOrEdit", "TourUser")", data.field, function (res) {
                    if (res.Code == 0) {
                        alert("成功");
                    } else {
                        alert("失败");
                    }
                }, 'json');
                return false;
            });
        });
    </script>
</body>
