
@using Xn.Platform.Domain.TourUser;
@using Xn.Platform.Domain;
@model PagedEntity<TourUserModel>
@{
    ViewBag.Title = "用户列表";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<body>
    <div class="page-content-wrap">


        <form class="layui-form" action="">
            <div class="layui-form-item">
                <div class="layui-inline tool-btn">
                    <button class="layui-btn layui-btn-small layui-btn-normal go-btn hidden-xs" data-id="0" data-url="@Url.Action("Edit","TourUser")"><i class="layui-icon">&#xe654;</i></button>
                    <button class="layui-btn layui-btn-small layui-btn-warm listOrderBtn hidden-xs" data-url="/admin/category/listorderall.html"><i class="iconfont">&#xe656;</i></button>
                </div>
                <div class="layui-inline">
                    <input type="text" name="username" id="username" placeholder="请输入用户名称" autocomplete="off" value="@ViewBag.UserName" class="layui-input">
                </div>
                <button class="layui-btn layui-btn-normal" lay-submit="search">搜索</button>
            </div>
        </form>

        <div class="layui-form" id="table-list">
            <table class="layui-table" lay-skin="line">
                <colgroup>
                    <col width="50">
                    <col class="hidden-xs" width="50">
                    <col width="100">
                    <col width="100">
                    <col>
                    <col width="100">
                    <col width="130">
                </colgroup>
                <thead>
                    <tr>
                        <th>头像</th>
                        <th class="hidden-xs">ID</th>
                        <th>用户名称</th>
                        <th>昵称</th>
                        <th>性别</th>
                        <th>真实姓名</th>
                        <th>手机号码</th>
                        <th>QQ</th>
                        <th>省</th>
                        <th>市</th>
                        <th>地址</th>
                        <th>星力值</th>
                        <th>星牛币</th>
                        <th>注册时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        <tr id='node-@item.id' class="parent collapsed">
                            <td><img src="@item.picture_url" width="40" height="40" /></td>
                            <td class="hidden-xs">@item.id</td>
                            <td class="hidden-xs">@item.username</td>
                            <td>@item.nick_name</td>
                            <td>@item.sex</td>
                            <td class="hidden-xs">@item.real_name</td>
                            <td>@item.mobile</td>
                            <td>@item.qq_number</td>
                            <td>@item.prvinice</td>
                            <td>@item.city</td>
                            <td>@item.address</td>
                            <td>100</td>
                            <td>27.12</td>
                            <td>@item.create_time</td>
                            <td>
                                <div class="layui-inline">
                                    <button class="layui-btn layui-btn-mini layui-btn-normal  go-btn" data-id="@item.id" data-url="@Url.Action("Edit","TourUser")"><i class="layui-icon">&#xe642;</i></button>
                                    <button class="layui-btn layui-btn-mini layui-btn-danger del_btn" data-id="@item.id" data-url="@Url.Action("Delete","TourUser")"><i class="layui-icon">&#xe640;</i></button>
                                </div>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
            <div id="pageDiv" style="text-align:right"></div>
        </div>

    </div>
    <script>
        layui.use(['form', 'laypage', 'jquery', 'layer', 'element','dialog'], function () {
            var laypage = layui.laypage,
                layer = layui.layer,
                $ = layui.jquery,
                dialog = layui.dialog;
            //调用分页
            laypage({
                cont: 'pageDiv'
                , curr: parseInt('@ViewBag.PageIndex')
                , pages: @Math.Ceiling((decimal)Model.TotalItems / (int)ViewBag.PageSize) // 得到总页数
                , jump: function (obj, first) {
                    var curr = obj.curr;
                    if (!first) {
                        var username = document.getElementById("username").value;
                        var url = "/TourUser/Index?pageIndex=" + curr+"&pageSize="+@ViewBag.PageSize ;
                        if (username != null && username != undefined)
                            url += "&username=" + username;
                        location.href = url;
                    }
                }
            });
            //列表删除
            $('.del_btn').click(function () {
                var url = $(this).attr('data-url');
                var id = $(this).attr('data-id');
              dialog.confirm({
                    message: '您确定要进行删除吗？',
                  success: function () {
                      layer.closeAll('dialog');  //加入这个信息点击确定 会关闭这个消息框
                        $.ajax({
                            type: "post",
                            url: url,
                            data: { "Id": id },
                            dataType: "json",
                            success: function (obj) {
                                if (obj.Code == 0) {
                                    alert("删除成功");
                                    location.reload();
                                } else {
                                    alert("删除失败，请重试");
                                }

                            }
                        });
                    }
                })
                return false;
            });


        });

    </script>
</body>
