@using Xn.Platform.Domain.Order;
@model List<OrderPlaneDTO>
@{
    /**/

    ViewBag.Title = "订单详情";
    Layout = "~/Views/Shared/_LayoutDialog.cshtml";
}
<body>

    @if (Model.Count > 0)
    {
        <blockquote class="layui-elem-quote layui-quote-nm">
            <div class="layui-inline">
                下单用户： @Model.FirstOrDefault().UserName
            </div>
            <div class="layui-inline" style="margin-left:100px">
                联系方式：@Model.FirstOrDefault().Mobile
            </div>
        </blockquote>
        foreach (var item in Model)
        {
            <table class="layui-table">
                <colgroup>
                    <col width="150" />
                </colgroup>
                <thead>
                    <tr><td colspan="2" style="text-align:center">订单号:@item.OrderId</td></tr>
                </thead>
                <tbody>


                    <tr>
                        <td style="text-align:right">航空公司：</td>
                        <td>@item.Airways</td>
                    </tr>
                    <tr>
                        <td style="text-align:right">航班号：</td>
                        <td>@item.FlightNumber</td>
                    </tr>
                    <tr>
                        <td style="text-align:right">行程：</td>
                        <td><b>@item.StartAddr</b>(@item.StartAirport) - <b>@item.DestAddr</b>(@item.DestAirport) </td>
                    </tr>
                    <tr>
                        <td style="text-align:right">日期：</td>
                        <td><span>@item.StartDate</span> - <span>@item.DestDate</span></td>
                    </tr>
                    <tr>
                        <td style="text-align:right">价格：</td>
                        <td>@item.Price</td>
                    </tr>
                    <tr>
                        <td style="text-align:right">乘客姓名：</td>
                        <td>@item.CustName</td>
                    </tr>
                    <tr>
                        <td style="text-align:right">身份证号：</td>
                        <td>@item.IdCardNo</td>
                    </tr>
                    <tr>
                        <td style="text-align:right">订单状态：</td>
                        <td>
                            @item.StatusVal
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2" style="text-align:center;">
                            @if (item.States == 1)
                            {
                                <button class="layui-btn layui-btn-normal btn_out" data-url="/orderplane/outofplane" data-id="@item.Id" style="width:150px">出票 </button>
                            }
                            else if (item.States == 2)
                            {
                                <button class="layui-btn layui-btn-warm btn_return" style="width:150px" data-url="/orderplane/refundticket?id=@item.Id">退票 </button>
                            }


                        </td>
                    </tr>
                </tfoot>
            </table>
        }
    }
    else
    {
        <div>该订单没有机票信息</div>
    }




</body>
<script>
    layui.use(['form', 'laypage', 'jquery', 'layer', 'element', 'dialog'], function () {

        var layer = layui.layer,
            dialog = layui.dialog,
            $ = layui.jquery;
        $("#btn_close").click(function () {
            var index = parent.layer.getFrameIndex(window.name);
            parent.layer.close(index);
            window.parent.location.reload();//刷新父页面
        });

        $(".btn_return").click(function () {
            var iframeObj = $(window.frameElement).attr('name');
            var url = $(this).attr('data-url');
            //将iframeObj传递给父级窗口,执行操作完成刷新
            parent.page("退票详情", url, iframeObj, w = "700px", h = "620px");
            return false;
        });
        ///出票按钮
        $(".btn_out").click(function () {
            var url = $(this).attr('data-url');
            var id = $(this).attr('data-id');
            dialog.confirm({
                message: '您确定已经再第三方平台上出账了吗？',
                success: function () {
                    layer.closeAll('dialog');  //加入这个信息点击确定 会关闭这个消息框
                    $.ajax({
                        type: "post",
                        url: url,
                        data: { "Id": id },
                        dataType: "json",
                        success: function (obj) {
                            if (obj.Code == 0) {
                                alert("出票成功");
                                location.reload();
                            } else {
                                alert("出票失败，请重试");
                            }

                        }
                    });
                }
            })
            return false;
        });
    });
</script>
