@using Xn.Platform.Domain.Order;
@model XnOrderDTO
@{
    ViewBag.Title = "订单编辑";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<body>
    <div>
        <fieldset class="layui-elem-field">
            <legend>基本信息</legend>
            <div class="layui-field-box">
                <table class="layui-table">
                    <colgroup>
                        <col width="150" />
                    </colgroup>
                    <tbody>
                        <tr>
                            <td style="text-align:right">订单编号：</td>
                            <td> @Model.OrderCode</td>
                        </tr>

                        <tr>
                            <td style="text-align:right">订单状态：</td>
                            <td>
                                @Model.StateVal
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:right">创建时间：</td>
                            <td>@Model.CreateTime.ToString("yyyy.MM.dd HH:mm:ss")</td>
                        </tr>
                        <tr>
                            <td style="text-align:right">付款时间：</td>
                            <td>@Model.PayTime.ToString("yyyy.MM.dd HH:mm:ss")</td>
                        </tr>
                        <tr>
                            <td style="text-align:right">订单总额：</td>
                            <td>￥@Model.OrderAmount</td>
                        </tr>

                        <tr>
                            <td style="text-align:right">供应商：</td>
                            <td>@Model.SupplierName</td>
                        </tr>

                </table>
            </div>
        </fieldset>
        <fieldset class="layui-elem-field">
            <legend>商品信息</legend>
            <div class="layui-field-box">
                <table class="layui-table">
                    <colgroup>
                        <col width="150" />
                    </colgroup>
                    <tbody>
                        <tr>
                            <td style="text-align:right">商品名称：</td>
                            <td>@Model.ProductName</td>
                        </tr>

                        <tr>
                            <td style="text-align:right">商品单价：</td>
                            <td>
                                ￥@Model.ProductPrice
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:right">商品数量 ：</td>
                            <td>@Model.ProductSum</td>
                        </tr>
                        <tr>
                            <td style="text-align:right">订单总价：</td>
                            <td id="td_totalAmount">
                                <div id="showdiv">
                                    <span id="span_totalAmount">￥<i>@Model.OrderAmount</i></span>
                                    <span style="margin-left:20px;"><font color="red"> (点击价格可进行改价)</font></span>
                                </div>
                                <div id="formdiv">

                                </div>

                            </td>

                        </tr>

                </table>
            </div>
        </fieldset>
        <fieldset class="layui-elem-field">
            <legend>联系人</legend>
            <div class="layui-field-box">
                <table class="layui-table">
                    <colgroup>
                        <col width="150" />
                    </colgroup>
                    <tbody>
                        <tr>
                            <td style="text-align:right">联系人：</td>
                            <td>@Model.ContactPerson</td>
                        </tr>

                        <tr>
                            <td style="text-align:right">电话：</td>
                            <td>
                                @Model.ContactPhone
                            </td>
                        </tr>
                </table>
            </div>
        </fieldset>
        <fieldset class="layui-elem-field">
            <legend>出行人信息</legend>
            <div class="layui-field-box">
                <div class="layui-form-item">
                    <div class="layui-inline tool-btn">
                        <button class="layui-btn layui-btn-small layui-btn-normal open_btn hidden-xs" data-url="/order/passenger?orderId=@Model.Id" data-title="新增出行人">
                            <i class="layui-icon">&#xe654;</i>
                        </button>
                    </div>
                </div>
                <table class="layui-table">
                    <colgroup>
                        <col />
                    </colgroup>
                    <thead>
                        <tr>
                            <th>姓</th>
                            <th>名</th>
                            <th>旅客类型</th>
                            <th>性别</th>
                            <th>国籍</th>
                            <th>出生日期</th>
                            <th>手机</th>
                            <th>身份证号码</th>
                            <th>护照号</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.orderPassengerDTOs)
                        {
                            var type = item.Type == 1 ? "成人" : "儿童";
                            var sex = item.Sex == 1 ? "男" : "女";
                            <tr>
                                <td>@item.Xing&nbsp;(@item.EXing)</td>
                                <td>@item.Ming&nbsp; (@item.Eming)</td>
                                <td>@type</td>
                                <td>@sex</td>
                                <td>@item.Nationality</td>
                                <td>@item.Birthday</td>
                                <td>@item.Phone</td>
                                <td>@item.IDNumber</td>
                                <td>@item.PassportNo</td>
                                <td>
                                    <button class="layui-btn layui-btn-small layui-btn-normal open_btn hidden-xs" data-url="/order/passenger?Id=@item.Id&orderId=@Model.Id" data-title="编辑出行人"><i class="layui-icon">&#xe63c;</i></button>
                                    <button class="layui-btn layui-btn-small layui-btn-warm delete_btn hidden-xs" data-id="@item.Id" data-url="/order/deletepassenger"><i class="layui-icon">&#xe640;</i></button>
                                </td>
                            </tr>
                        }


                    </tbody>
                </table>
            </div>
        </fieldset>
        <fieldset class="layui-elem-field">
            <legend>其他</legend>
            <div class="layui-field-box">
                <table class="layui-table">
                    <colgroup>
                        <col width="150" />
                    </colgroup>
                    <tbody>
                        <tr style="height:100px;">
                            <td style="text-align:right">备注：</td>
                            <td>@Model.Remark</td>
                        </tr>

                </table>
            </div>
        </fieldset>
    </div>
    <script>
        layui.use(['form', 'laypage', 'jquery', 'laydate', 'layer', 'element', 'dialog'], function () {
            var laypage = layui.laypage,
                layer = layui.layer,
                $ = layui.jquery,
                laydate = layui.laydate,
                form = layui.form(),
                dialog = layui.dialog;

            var totalAmount_val = "";
            $("#td_totalAmount span").click(function () {
                totalAmount_val = $("#td_totalAmount span i").html();
                $("#showdiv").addClass("layui-hide");
                $("#formdiv").removeClass("layui-hide");
                var htmlVal = "<div class=\"layui-input-inline\"><input name=\"totalAmount\"  id=\"totalAmount\" placeholder=\"￥\"  autocomplete=\"off\" class=\"layui-input\" type=\"text\"></div>";
                htmlVal += " <div class=\"layui-input-inline\"><button class=\"layui-btn\" id=\"btn_save\">保存</button></div>";
                htmlVal += " <div class=\"layui-input-inline\"><button class=\"layui-btn layui-btn-normal\" id=\"btn_cancel\">取消</button></div>";
                $("#formdiv").html(htmlVal);
                $("#totalAmount").val(totalAmount_val);
                $("#totalAmount").focus();
                $("#btn_cancel").click(function () {
                    var htmlVal = "<span>￥<i>" + totalAmount_val + "</i></span>";
                    $("#formdiv").addClass("layui-hide");
                    $("#showdiv").removeClass("layui-hide");

                });
                $("#btn_save").click(function () {
                    var price = $("#totalAmount").val();
                    $.ajax({
                        type: "post",
                        url: "/order/editprice",
                        data: { "Id": @Model.Id, "price": price },
                        dataType: "json",
                        success: function (obj) {
                            if (obj.Code == 0) {
                                alert("改价成功");
                                location.reload();
                            } else {
                                alert("改价失败，请重试");
                            }

                        }
                    });
                })
                return false;
            });
            ///详情按钮弹出
            $(".open_btn").click(function () {
                //获取当前iframe的name值
                var iframeObj = $(window.frameElement).attr('name');
                var url = $(this).attr('data-url');
                var title = $(this).attr('data-title');
                //将iframeObj传递给父级窗口,执行操作完成刷新
                parent.page(title, url, iframeObj, w = "800px", h = "620px");
                return false;
            });
            $(".delete_btn").click(function () {
                var url = $(this).attr('data-url');
                var id = $(this).attr('data-id');
                var orderId=@Model.Id;
                dialog.confirm({
                    message: '您确定要删除出行人吗？',
                    success: function () {
                        layer.closeAll('dialog');  //加入这个信息点击确定 会关闭这个消息框
                        $.ajax({
                            type: "post",
                            url: url,
                            data: { "Id": id, "orderId": orderId },
                            dataType: "json",
                            success: function (obj) {
                                if (obj.Code == 0) {
                                    alert("删除成功");
                                    location.reload();
                                } else {
                                    alert("删除失败，请重试");
                                }

                            }
                        });
                    }
                })
                return false;
            });
        });
    </script>
</body>