@using Xn.Platform.Domain.Order;
@using Xn.Platform.Domain;
@model PagedEntity<OrderMainResponse.PageResponse>
@{
    ViewBag.Title = "主订单列表";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<body>
    <div class="page-content-wrap" style="text-align:left">


        <form class="layui-form" action="">
            <blockquote class="layui-elem-quote layui-quote-nm">
                <div>
                    <div class="layui-inline">
                        <label class="layui-form-label">订单号：</label>
                        <div class="layui-input-inline">
                            <input name="orderId" id="orderId" autocomplete="off" class="layui-input" type="text" />
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">订单类型：</label>
                        <div class="layui-input-inline">
                            <select name="orderType" id="orderType" lay-filter="aihao">
                                <option value="0" selected="">未选择</option>
                                <option value="1">机票</option>
                                <option value="2">酒店</option>
                                <option value="3">签证</option>
                                <option value="4">门票</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">下单人：</label>
                        <div class="layui-input-inline">
                            <input name="userName" id="userName" autocomplete="off" class="layui-input" type="text" />
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">手机号：</label>
                        <div class="layui-input-inline">
                            <input name="mobile" id="mobile" lay-verify="required|phone" autocomplete="off" class="layui-input" type="tel" />
                        </div>
                    </div>
                </div>
                <div style="margin-top:10px">
                    <div class="layui-input-inline">


                        <label class="layui-form-label">下单时间：</label>
                        <div class="layui-input-inline">
                            <input class="layui-input" id="s_addDate" name="s_addDate" placeholder="yyyy-MM-dd HH:mm:ss" type="datetime">
                        </div>
                        -
                        <div class="layui-input-inline">
                            <input class="layui-input" id="e_addDate" name="e_addDate" placeholder="yyyy-MM-dd HH:mm:ss" type="datetime">
                        </div>
                    </div>
                    <div class="layui-input-inline" style="margin-left:132px;">


                        <label class="layui-form-label">付款时间：</label>
                        <div class="layui-input-inline">
                            <input class="layui-input" id="s_payDate" name="s_payDate" placeholder="yyyy-MM-dd HH:mm:ss" type="datetime">
                        </div>
                        -
                        <div class="layui-input-inline">
                            <input class="layui-input" id="e_payDate" name="e_payDate" placeholder="yyyy-MM-dd HH:mm:ss" type="datetime">
                        </div>
                    </div>

                </div>
                <div class="layui-input-block" style="margin:10px 0 0 470px">
                    <div class="layui-input-inline">
                        <button class="layui-btn btn-search">搜索</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </blockquote>
        </form>

        <div class="layui-form" id="table-list">
            <table class="layui-table" lay-skin="line">
                <colgroup>
                    <col width="50">
                    <col>
                    <col width="100">
                    <col width="100">
                    <col>
                    <col width="100">
                    <col width="130">
                </colgroup>
                <thead>
                    <tr>
                        <th>订单ID</th>
                        <th class="hidden-xs">订单号</th>
                        <th>交易流水号</th>
                        <th>订单类型</th>
                        <th>数量</th>
                        <th>订单总金额</th>
                        <th>支付金额</th>
                        <th>下单人</th>
                        <th>联系方式</th>
                        <th>下单时间</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        <tr id='node-@item.id' class="parent collapsed">
                            <td>@item.id</td>
                            <td>@item.orderID</td>
                            <td class="hidden-xs">@item.channelID</td>
                            <td class="hidden-xs">@item.orderTypeName</td>
                            <td>@item.num</td>
                            <td>@item.orderAmount</td>
                            <td class="hidden-xs">@item.payAmount</td>
                            <td>@item.userName</td>
                            <td>@item.mobile</td>
                            <td>@item.addDate</td>
                            <td>@item.states</td>
                            <td>
                                <div class="layui-inline">
                                    <button class="layui-btn layui-btn-mini layui-btn-normal detail_btn" data-url="/order/detail?orderId=@item.orderID&type=@item.orderType"><i class="layui-icon">&#xe63c;</i></button>
                                    @*<button class="layui-btn layui-btn-mini layui-btn-normal  go-btn" data-id="@item.id" data-url="@Url.Action("Edit","Order")"><i class="layui-icon">&#xe642;</i></button>
                                        <button class="layui-btn layui-btn-mini layui-btn-danger del_btn" data-id="@item.id" data-url="@Url.Action("Delete","Order")"><i class="layui-icon">&#xe640;</i></button>*@
                                </div>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
            <div id="pageDiv" style="text-align:right"></div>
        </div>

    </div>
    <script>
        layui.use(['form', 'laypage', 'jquery', 'laydate', 'layer', 'element','dialog'], function () {
            var laypage = layui.laypage,
                layer = layui.layer,
                $ = layui.jquery,
                laydate = layui.laydate,
                form = layui.form(),
                dialog = layui.dialog;



            $("#orderId").val('@ViewBag.SearchModel.orderId');
            $("#orderType").val('@ViewBag.SearchModel.orderType');
            $("#userName").val('@ViewBag.SearchModel.userName');
            $("#mobile").val('@ViewBag.SearchModel.mobile');
            $("#s_addDate").val('@ViewBag.SearchModel.SaddDate');
            $("#e_addDate").val('@ViewBag.SearchModel.EaddDate');
            $("#s_payDate").val('@ViewBag.SearchModel.SpayDate');
            $("#e_payDate").val('@ViewBag.SearchModel.EpayDate');
            form.render();


            //获取当前iframe的name值
            var iframeObj = $(window.frameElement).attr('name');
            //调用分页
            laypage({
                cont: 'pageDiv'
                , curr: parseInt('@ViewBag.SearchModel.PageIndex')
                , pages: @Math.Ceiling((decimal)Model.TotalItems / (int)ViewBag.SearchModel.PageSize) // 得到总页数
                , jump: function (obj, first) {
                    var curr = obj.curr;
                    if (!first) {
                        var url = "/Order/Index?pageIndex=" + curr + "&pageSize=" +@ViewBag.SearchModel.PageSize ;
                        var userName = $("#userName").val();
                        var orderType = $("#orderType").val();
                        var orderId = $("#orderId").val();
                        var mobile = $("#mobile").val();
                        var s_addDate = $("#s_addDate").val();
                        var e_addDate = $("#e_addDate").val();
                        var s_payDate = $("#s_payDate").val();
                        var e_payDate = $("#e_payDate").val();
                        if (userName != undefined)
                            url += "&userName=" + userName;
                        if (orderType != 0)
                            url += "&orderType=" + orderType;
                        if (orderId != undefined)
                            url += "&orderId=" + orderId;
                        if (mobile != undefined)
                            url += "&mobile=" + mobile;
                        if (s_addDate != undefined)
                            url += "&s_addDate=" + s_addDate;
                        if (e_addDate != undefined)
                            url += "&e_addDate" + e_addDate;
                        if (s_payDate != undefined)
                            url += "&s_payDate=" + s_payDate;
                        if (e_payDate != undefined)
                            url += "&e_payDate=" + e_payDate;
                        location.href = url;
                    }
                }
            });
            //列表删除
            $('.del_btn').click(function () {
                var url = $(this).attr('data-url');
                var id = $(this).attr('data-id');
              dialog.confirm({
                    message: '您确定要进行删除吗？',
                  success: function () {
                      layer.closeAll('dialog');  //加入这个信息点击确定 会关闭这个消息框
                        $.ajax({
                            type: "post",
                            url: url,
                            data: { "Id": id },
                            dataType: "json",
                            success: function (obj) {
                                if (obj.Code == 0) {
                                    alert("删除成功");
                                    location.reload();
                                } else {
                                    alert("删除失败，请重试");
                                }

                            }
                        });
                    }
                })
                return false;
            });
            ///详情按钮弹出
            $(".detail_btn").click(function () {
                var url = $(this).attr('data-url');
                //将iframeObj传递给父级窗口,执行操作完成刷新
                parent.page("订单详情", url, iframeObj, w = "960px", h = "620px");
                return false;
            });



        });

    </script>

</body>
